/* Write your CSS here */
.layout-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 550px;
}
@media screen and (min-width: 768px) {
  .con {
    max-width: 1140px;
  }
}
